Summary_Provider_Subnode.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            },
            {
              "name": "tel_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1040,
        120
      ],
      "id": "a7490b1b-1e96-47aa-a058-7df52ed90591",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n3",
          "mode": "list",
          "cachedResultName": "n8n3"
        },
        "prompt": "={{ $json.chatInput }}",
        "useReranker": true,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "tpkey",
                "value": "={{ $json.tel_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1260,
        120
      ],
      "id": "4718ac18-c020-4d1d-ad81-5b5dfec617cd",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "t0yqc0VBGVtCS3YG",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1400,
        320
      ],
      "id": "cf08ce55-2361-4c42-9333-8db0b79604d9",
      "name": "Reranker Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "08WgnNvcICCheOOX",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1220,
        320
      ],
      "id": "431fdf02-7f37-427a-a01d-411e7e6a80dc",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "9fWRmnZTn8WPiQ2O",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93a57ec538b33e4266db3cf3999c1a44d55a10d31d3652892046b38f2e1c35ae"
  }
}
